<div class="container top">
  <div class="row">
    <div class="banner-background">
      <div class="banner-foreground">
      </div>
    </div>
      <div class="col-xs-12 banner-poster">
          <img class="poster" src="images/poster.jpg" alt="Blue Wall Poster">
      </div>
  </div>
</div>
<div class="row nav-bar">
  <span class="col-xs-12 col-md-4 title nav-item">BLUE WALL: The Series</span>
  <span class="col-xs-3 col-md-2 nav-item">EPISODES</span>
  <span class="col-xs-3 col-md-2 nav-item">BEHIND THE WALL</span>
  <span class="col-xs-3 col-md-2 nav-item">CAST</span>
  <span class="col-xs-3 col-md-2 nav-item">CONTACT</span>
</div>

<div class="row main">
  <div class="col-xs-12 col-sm-3 video-side">
    <div class="info-box">
      This is a box to float over with unique info on it
    </div>
    <li class="video-block">
      <img src="https://i.ytimg.com/vi/oxZ-B6hmqgo/hqdefault.jpg" alt="">
      <h5>TITLE S1E2</h5>
      <p>This in info on the video<p>
    </li>
  </div>
  <div class="col-xs-12 col-sm-9 content">
    <div class="about">
      <h1>This is a title</h1>
      <p>here are some words under that title</p>
    </div>
  </div>
</div>
