<div class="container">
  <div class="row">
    <div class="col-sm-4">
      Blue
    </div>
    <div class="col-sm-4">
      Wall
    </div>
    <div class="col-sm-4">
      The Series
    </div>
  </div>
</div>
