// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Top Banner CSS plus poster
.banner-background{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 400px;
  background-image: url("/images/banner.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;

  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  text-align: center;
  border: 5px solid black;

}
.banner-foreground{
  background-color: dodgerblue;
  opacity: .15;
  width:100%;
  height: inherit;
  z-index:0;
}
.banner-poster{
  size: 100%;
  z-index: 2;
  height: 400px;
  text-align: center;
  overflow: hidden;

}

.poster{
  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
  margin: 0px auto;
  width: 400px;
  box-shadow: 0px 0px 30px 10px #000;

  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}


// Nav Bar
.nav-bar{
  height:45px;
  line-height: 35px;
  background-color: black;
  padding: 0px 0px 0px 10px;
  z-index: 2;
}

.nav-item{
  height: 45px;
  text-align: center;
  font-family: 'Black Ops One', cursive;
  text-shadow: 0px 0px 10px red;
  color: #BCBCBC;
  padding:5px;
  vertical-align: middle;
  background-color: black;
}

.title{
  font-size: 1.8em;
  text-shadow: 0px 0px 10px #33BFFF;
  color: #161616;
  text-align: center;
  // border: 1px solid red;
}

// Video Section

.video-side{
  background-color: black;
  padding: 20px;
  text-align: center;
  height: 900px;
  overflow-y: scroll;
  border-shadow: 0px 5px 10px blue;
}

.video-title{
  height: 40px;
  width:80%;
  text-align: center;
  font-family: "top_secretbold";
  color: #b50000;
  font-size: 2em;
  background-color: black;
  margin: 0 auto;
  transform: rotate(-10deg);
}

.video-title-item{
  top: 50%;
}

.video-block {
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=626262&density=75&opacity=25");
  background-color: black;
  text-align: center;
  display: inline-block;
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 5px 0px 5px 0px;

  .video-img{
    width: 80%;
  }
  img{
    width: 80%;
  }

}

.info-box{
  display: none;
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  background-color: azure;
  z-index: 9999;
  border-radius: 10px;
}

// Content area
  //main
.content{
  background-color: black;
  height: 900px;
  border: 2px solid red;
  width: 30%;
}


  // Blue Wall Main
.about{
  width: 90%;
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
  // display: none;
}

  // The Cast






// Responsive Crap
@media only screen and (max-width: 768px) {
    .video-side {
        display: none;
    }
}
